[submodule "go-pack/lib/go-mode"]
	path = go-pack/lib/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "rails-pack"]
	path = rails-pack
	url = https://github.com/TrevorS/rails-pack.git
