[submodule "rails-pack/lib/rinari"]
	path = rails-pack/lib/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "rails-pack/lib/rhtml"]
	path = rails-pack/lib/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "rails-pack/lib/scss-mode"]
	path = rails-pack/lib/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "rails-pack/lib/less-mode"]
	path = rails-pack/lib/less-mode
	url = git://github.com/purcell/less-css-mode.git
[submodule "rails-pack/lib/haml-mode"]
	path = rails-pack/lib/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "trevor-pack/lib/ace-jump-mode"]
	path = trevor-pack/lib/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "trevor-pack/lib/ace-jump-mode-new"]
	path = trevor-pack/lib/ace-jump-mode-new
	url = git://github.com/winterTTr/ace-jump-mode.git
